/* certification */

.certification-section {
    position: relative !important;
    padding-top: 110px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
  }
  
  .certification {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }
  
  .certification-left {
    padding-right: 80px !important;
  }
  
  .certification-right {
    padding-left: 80px !important;
  }
  
  @media (max-width: 1200px) {
    .certification {
      transform: scale(0.7);
      transform-origin: center;
    }
  }
  
  @media (max-width: 992px) {
    .certification {
      transform: scale(0.5);
      transform-origin: center;
    }
  }
  
  @media (max-width: 768px) {
    .certification {
      transform: scale(0.4);
      transform-origin: center;
    }
  }
  
  @media (max-width: 576px) {
    .certification {
      transform: scale(0.3);
      transform-origin: center;
    }
  }
  
  .certification-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  
  .certification-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  
  .certification .certification-title {
    font-size: 2em;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .certification .certification-item {
    padding: 0 0 10px 25px;
    margin-top: -2px;
    border-left: 2px solid #8a49a8;
    position: relative;
  }
  
  .certification .certification-item .certification-title {
    line-height: 18px;
    font-size: 0.9em;
    background: #5234795d;
    padding: 8px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .certification .certification-item ul {
    padding-left: 20px;
    text-align: justify;
  }
  
  .certification .certification-item ul li {
    padding-bottom: 10px;
    list-style: none;
  }
  
  .certification .certification-item:last-child {
    padding-bottom: 0;
  }
  
  .certification .certification-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #8a49a8;
  }