.cursor {
    position: fixed;
    z-index: 90000000000000 !important;
    background-color: white;
    border: 2px solid white;
    border-radius: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    backdrop-filter: grayscale(1);
    -webkit-backdrop-filter: grayscale(1);
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .cursor--hidden {
    opacity: 0;
  }
